In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("전처리_Rank_최종.csv", encoding = 'CP949')

In [3]:
df.head()

,gid,건물1,건물2,건물3,도서관,민원행정기관,변압기,전기안전관리자,전기차,교통량,경제인구,주차면수,총점,Rank
0,다사73bb67ba,0.052632,0.0,0,0.044776,0.0,0.012195,0.0,0.0,0.000000,0.062616,0.0,0.287467,2049
1,다사85ab65ba,0.026316,0.0,0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.052632,3148
2,다사82ab57ba,0.144737,0.0,0,0.059701,0.0,0.000000,0.0,0.0,0.000001,0.000000,0.0,0.349178,1834
3,다사70ab68aa,0.026316,0.0,0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.052632,3148
4,다사86aa66aa,0.078947,0.0,0,0.149254,0.0,0.008130,0.0,0.0,0.012302,0.000000,0.0,0.339883,1866

In [20]:
df.sort_values(["Rank"], ascending = True).head(20)

,gid,건물1,건물2,건물3,도서관,민원행정기관,변압기,전기안전관리자,전기차,교통량,경제인구,주차면수,총점,Rank
7360,다사73bb67bb,1.000000,1.000000,0,0.523810,0.000000,0.500000,1.000000,0.000000,0.010989,0.000000,0.000000,9.045788,1
3040,다사68ab61aa,0.755556,0.500000,1,0.836735,0.000000,1.000000,0.578947,0.000000,0.100205,0.407629,0.000000,8.600356,2
2826,다사66ab67ba,0.537313,1.000000,0,0.510204,0.500000,0.142857,0.684211,0.000000,0.108981,0.127011,1.000000,7.752303,3
2229,다사71bb68ba,0.507463,0.200000,1,0.440000,0.000000,0.048780,0.842105,0.000000,0.011237,0.603726,0.000000,6.859948,4
455,다사71ba61bb,0.736842,0.571429,0,1.000000,1.000000,0.036585,0.366667,0.000000,0.018807,0.102941,0.000000,6.568052,5
2733,다사72ab68aa,0.208955,0.750000,0,0.326531,0.500000,0.000000,0.736842,0.000000,0.075096,0.312024,0.286885,6.479207,6
1863,다사70bb54aa,0.315789,0.166667,0,0.788462,0.000000,0.016260,1.000000,0.000000,0.721609,0.005374,0.000000,6.390268,7
2927,다사74bb59ba,0.343284,0.333333,0,0.693878,0.000000,0.163265,0.315789,1.000000,0.141566,0.271338,0.537037,6.316887,8
3049,다사74ba53bb,0.377778,0.000000,0,0.612245,0.000000,0.236842,0.526316,0.333333,0.037882,0.845777,0.000000,5.617574,9
7445,다사70ba60aa,1.000000,0.000000,0,0.100000,0.000000,0.500000,1.000000,0.000000,0.000000,0.000000,0.000000,5.600000,10
2591,다사82bb61aa,0.238806,0.250000,1,0.755102,1.000000,0.040650,0.368421,0.000000,0.069721,0.094590,0.000000,5.457250,11
7337,다사82aa60bb,0.300000,0.000000,0,0.238095,0.000000,1.000000,0.500000,1.000000,0.002229,0.000000,0.000000,5.342553,12
7391,다사70bb64aa,0.333333,0.000000,0,1.000000,0.000000,0.500000,1.000000,0.000000,0.031372,0.000000,0.000000,5.229410,13
2151,다사74ba54aa,1.000000,0.000000,0,0.780000,0.000000,0.060976,0.538462,0.000000,0.048799,0.334647,0.516393,5.223252,14
3059,다사71ba68ba,0.555556,0.000000,0,1.000000,0.000000,0.131579,0.263158,0.333333,0.011334,0.707357,0.000000,5.136213,15
2940,다사65bb67bb,0.238806,0.000000,0,0.734694,0.000000,0.102041,0.157895,0.666667,0.003046,1.000000,0.000000,5.127457,16
2238,다사72aa68bb,0.955224,0.000000,0,0.580000,0.666667,0.036585,0.526316,0.000000,0.021825,0.149409,0.352459,5.115115,17
2241,다사76bb50ab,0.343284,0.800000,0,0.500000,0.000000,0.020325,0.052632,0.000000,0.636461,0.005016,0.000000,5.047742,18
2880,다사72bb69ba,0.313433,0.000000,0,0.408163,0.000000,0.081633,0.421053,0.076923,1.000000,0.248942,0.888889,5.031549,19
6465,다사70bb56bb,0.333333,0.000000,0,1.000000,1.000000,0.285714,0.500000,0.000000,0.141222,0.000000,0.000000,4.734824,20

In [5]:
df2 = df.iloc[:, 1:-2]

In [6]:
df2.head()

,건물1,건물2,건물3,도서관,민원행정기관,변압기,전기안전관리자,전기차,교통량,경제인구,주차면수
0,0.052632,0.0,0,0.044776,0.0,0.012195,0.0,0.0,0.000000,0.062616,0.0
1,0.026316,0.0,0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0
2,0.144737,0.0,0,0.059701,0.0,0.000000,0.0,0.0,0.000001,0.000000,0.0
3,0.026316,0.0,0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0
4,0.078947,0.0,0,0.149254,0.0,0.008130,0.0,0.0,0.012302,0.000000,0.0

# 선형회귀 함수 import하고 
# 회귀 계수 구해서 
# 회귀 모델 만들고
# 그래프 그려보고 
# 상관성 확인
# 상관계수도 구해보기.

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
model = LinearRegression()

In [9]:
X = df2

In [ ]:
model.fit(X,y)

In [10]:
plt.scatter()

TypeError: scatter() missing 2 required positional arguments: 'x' and 'y'